/* ################### FOOTER ########################### */
.footer-container {
    border: none;
    height: 346px;
    background-repeat: repeat-x;
    background-image: url(../images/bg_footer.jpg);
}
.footer_top_wrapper {
    border-bottom: 1px solid #5d4969;
    height: 120px;
    width: 100%;
}
.subscribe_wrapper {
    width: 960px;
    margin: 0 auto;
}
.subscribe {
    width: 480px;
    float: left;
}
.form_subscribe_header{
    color: #ffffff;
    text-align: left;
    line-height: normal;
    padding-top: 25px;
}
.input_box {
    width: 305px;
    float: left;
    margin: 0 15px 0 0;
}
#newsletter {
    border: 1px solid #dacde1;
    color: #919191;
    width: 100%;
    padding: 6px 12px;
    height: 25px;
    line-height: 20px;
    outline: 0;
    border-radius: 0;
}
#subscribe_button {
    width: 103px;
    height: 40px;
    background: #46166b;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 12px 24px;
    text-transform: uppercase;
    text-align: center;
}
#subscribe_button:hover {
    text-decoration: none;
    background-color: #b69fc5;
    border-color: #b69fc5;
    color: #fff;
}

.social_wrapper {
    width: 400px;
    height: 90px;
    color: #ffffff;
    line-height: 50px;
    float: right;
}
.footer {
    width: 960px;;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
}
#about_us {
    color: #ffffff;
}
.footer_about {
    color: #b69fc5;
    text-align: left;
    float: left;
    width: 475px;
}
#footer_bottom_logo1 {
    width: 62px;
    height: 40px;
    background-image: url(../images/logo_footer_1.png);;
}
#footer_bottom_logo2 {
    width: 32px;
    height: 40px;
    background-image: url(../images/logo_footer_2.png);;
}
#footer_bottom_logo3 {
    width: 52px;
    height: 49px;
    background-image: url(../images/logo_footer_3.png);;
}
#footer_bottom_logo4 {
    width: 36px;
    height: 42px;
    background-image: url(../images/logo_footer_4.png);;
}
.bt_logo {
    float: left;
    margin-top: 20px;
    padding: 0 5px;
    background-repeat: no-repeat;
}
.footer_links {
    float: right;
    width: 470px;
}
.footer_links .links {
    width: 140px;
    padding-left: 25px;
}
.footer_links .links ul li {
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    display: block;
    text-align: left;
    background: none;
    padding: 0;
}
.copyright {
    text-align: left;
    position: absolute;
    bottom: 0;
}
.footer address {
    padding-left: 25px;
    margin-bottom: 5px;
}
/* ############## Slider #################### */
.slideshow-container {
    max-height: 60vh;
    overflow: hidden;
    vertical-align: top;
    white-space: normal;
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    border: 0;
}
.slideshow-container .slideshow {
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0;
    border: 0;
}
.slideshow-container .slideshow > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: block;
    margin: 0;
}
.slideshow-container .slideshow > li:first-child {
    position: static;
    z-index: 100;
}
.slideshow-container .slideshow > li .bg_img {
    max-width: 100%;
    width: 100%;
}

.slideshow-pager {
    text-align: center;
    width: 100%;
    z-index: 115;
    position: absolute;
    bottom: 0;
    top: auto;
    overflow: hidden;
}
.slideshow-pager span {
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #DDDDDD;
    cursor: pointer;
}
.slideshow-pager span:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 1px;
    background-color: #FFFFFF;
    position: relative;
    opacity: 0.5;
}
.slideshow-pager span:hover:before {
    opacity: 1;
}
.slideshow-pager span.cycle-pager-active:before {
    opacity: 1;
}
.slideshow-pager > * {
    cursor: pointer;
}

.slideshow-prev,
.slideshow-next {
    position: absolute;
    top: 0;
    max-width: 80px;
    height: 100%;
    opacity: 0.6;
    z-index: 110;
    cursor: pointer;
}
.slideshow-prev:before,
.slideshow-next:before {
    content: '';
    width: 0;
    height: 0;
    font-size: 0;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -30px;
}
.slideshow-prev:hover,
.slideshow-next:hover {
    opacity: 1;
}
.slideshow-prev.disabled,
.slideshow-next.disabled {
    cursor: default;
}

.slideshow-prev {
    left: 0;
}
.slideshow-prev:before {
    width: 71px;
    height: 96px;
    background-image: url("../images/previous.png");
    top: 50%;
}
.slideshow-next {
    right: 0;
}
.slideshow-next:before {
    width: 71px;
    height: 96px;
    background-image: url("../images/next.png");
    top: 50%;
    right: 1px;
}

.cycle-caption {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 15px;
    z-index: 110;
}

.cycle-overlay {
    font-family: tahoma, arial;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 120;
    background: black;
    color: white;
    padding: 15px;
    opacity: .5;
}
.front_img {
    left: 50%;
    top: 50%;
    margin-left: -513px;
    margin-top: -300px;
    width: 1027px;
    height: 460px;
    padding: 0;
    position: absolute;
}

/* ############## CONTENT ################### */
.main {
    width: 100%;
    max-width: 1920px;
    background: none;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
.main-container {
    background-image: none;
    margin: 0;
    padding: 0;
}
.block_bacground {
    display: block;
    width: 100%;
}
.content_medium_items {
    width: 1122px;
    margin: 0 auto;
}
.medium_item {
    display: inline-block;
    vertical-align: middle;
    margin: 40px 15px 50px 15px;
    text-align: center;
    font-size: 13px;
    float: left;
}
.medium_text p {
    max-width: 185px;
    min-height: 50px;
    margin: 0 auto 8px;
    font-size: 14px;
    line-height: 17px;
}
.medium_image {
    width: 100%;
    position: relative;
    margin: 0 0 20px;
}
.medium_text h2 {
    font: 16px/16px "ProximaNova-Bold",sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.button {
    transition-property: all;
    transition-duration: 150ms;
    background: #fff;
    border: solid 1px #46166b;
    color: #46166b;
    cursor: pointer;
    display: inline-block;
    padding: 5px 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
    color: #fff;
    background-color: #46166b;
}
/* ############## LOGIN FORM ################## */

.account-login {
    width: 960px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

.primary {
    padding: 0 125px;
}
.b-myaccount-header {
    position: relative;
    padding: 0 0 11px;
    border-bottom: 1px solid #dacce2;
    margin-bottom: 20px;
}
.b-myaccount-header h1 {
    font: 30px/1.2em "ProximaNova-Bold",sans-serif;
    color: #000;
    text-transform: uppercase;
    font: 26px "ProximaNova-Bold",sans-serif;
}
.create-account-benefits h2 {
    font: 16px/1.2em "ProximaNova-Bold",sans-serif;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.create-account-benefits ul {
    margin: 5px 0 17px;
    padding-left: 26px;
    list-style: disc;
}
.button-color {
    width: 100%;
    font: 13px/1 "ProximaNova-Bold",sans-serif;
    background: #46166b;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 14px 0px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: 150ms;
}
.button-color:hover {
    text-decoration: none;
    background-color: #b69fc5;
    border-color: #b69fc5;
    color: #fff;
}
.validation-advice {
    padding: 1px 0 0;
    background: none;
    color: #ea0b8b;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 300ms;
    -webkit-animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}
.login_page {
    width: 100%;
}
.log-in-form-input {
    line-height: 18px;
    font: 13px "ProximaNova-Regular",sans-serif;
    border: 1px solid #dacde1;
    color: #919191;
    padding: 6px 12px;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0;
}
.input-box {
    height: 48px;
    padding-bottom: 3px;
}

#email {
    width: 319px;
}
#pass {
    width: 319px;
}
.f-left {
    font-size: 12px;
    padding-top: 5px;
    transition-duration: 300ms;
    border: 0;
    color: #46166b;
    cursor: pointer;
}
.fogot-pass-link-wrapper {
    padding-left: 110px;
}
.f-left:hover {
    text-decoration: none;
    color: #000;
}