* { margin:0; padding:0; }
.clear {
    clear: both;
}
/* ============================================ *
 * Search Input
 * ============================================ */
.header-container .form-search { position: absolute; right: 0;  width:315px; height:30px; background: none; padding:1px 0 0 16px; margin-top: 5px; }
.header-container .form-search label { float:left; width:24px; height:21px; text-align:left; text-indent:-999em; overflow:hidden; }
.header-container .form-search input.input-text { float:right; width:70px; margin: 0; border: none; font: bold 12px Arial,Helvetica,Sans-serif; color: #bebebe; padding: 7px 40px 7px 10px; -webkit-transition: width 0.7s ease 0s; -moz-transition:width 0.7s ease 0s;; -o-transition: width 0.7s ease 0s;; transition: width 0.7s ease 0s; }
.header-container .form-search input.input-text:focus { width: 200px; color: #000000; }
.header-container .form-search button.button { position:absolute; right: 3px; border:0; width: 21px; height:21px; background:url(../images/search.png) 0 6px no-repeat; padding:0; background-size: 75%; }
.header-container .form-search .search-autocomplete { z-index:999; left:40px !important; top:22px !important; }
.header-container .form-search .search-autocomplete ul { border:1px solid #5c7989; background-color:#f9f5f0; }
.header-container .form-search .search-autocomplete li { text-align:left; border-bottom:1px solid #f4eee7; padding:2px 8px 1px 8px; cursor:pointer; }
.header-container .form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.header-container .form-search .search-autocomplete li.odd { background-color:#fffefb; }
.header-container .form-search .search-autocomplete li.selected { background-color:#f7e8dd; }

/* ################### HEADER ########################### */
.header-top-box { border-bottom: 1px solid #473555; float: none; position: fixed; background: url(../images/bg_header.jpg) repeat-x; padding: 0 0 0 20px; width: 100%; height: 40px; z-index: 9999 }
.header-top-box .quick-access { width: 100%; margin:0 auto; padding: 0; position:relative; }
.header-top-box .quick-access .header-customer-info { float: right; }
.header-top-box .quick-access .header-customer-info ul.top-links  {margin: 15px 40px 0 0; list-style: none; }
.header-top-box .quick-access .header-customer-info ul.top-links li { margin-left: 40px; float: left; color: #b69fc5; font: 11px/12px "ProximaNova-Semibold",sans-serif; }
.header-top-box .quick-access .header-customer-info ul.top-links li a { text-decoration: none; color: #867592; transition-property: all; transition-duration: 300ms; }
.header-top-box .quick-access .header-customer-info ul.top-links li a:hover { text-decoration: none; color:#ffffff; }
.header-top-box .quick-access .header-customer-info ul.top-links li a.customer-page-link { padding-right: 10px; border-right: 1px solid #b69fc5; }
.header-top-box .quick-access .header-customer-info ul.top-links li a.login { padding-left: 10px; }

.header-container { border: 0; position: relative; z-index: 999; padding: 35px 0 0; background:url(../images/bg_header.jpg) repeat-x scroll 0 0 #1b0a25;}

.header { width:930px; margin:0 auto; padding: 0; text-align:right; position:relative; z-index:10; }
.header .logo { float:none; margin: 0; padding: 30px 0 0; text-align: center; text-decoration:none !important; }
.header .logo strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }
.header h1.logo { margin: 0; !important }

/********** < Navigation */
.nav-container { background:none; margin-top: 15px; }
#nav { width:918px; height: 45px; margin:0 auto; padding:0 16px; font-size:13px; display: block; text-align: center; line-height: 70px; position: relative; }
/* All Levels */ /* Style consistent throughout all nav levels */
ul#nav > li { display: inline-block; float: none; position: relative; }

#nav li { position:relative; text-align:left; }
#nav li.over { z-index:998; }
#nav a,
#nav a:hover { display:block; line-height:1.3em; text-decoration:none; }
#nav span { display:block; cursor:pointer; white-space:nowrap; font-size: 14px; }
#nav li ul span {
    white-space:normal;
    padding: 5px 30px;
    font-size: 14px;
    line-height: 15px;
    font-family: "ProximaNova-Semibold",sans-serif;
    color: #46166b;
}
#nav ul li.parent a { background:none; }
#nav ul li.parent li a { background-image:none; }

#nav > li { height: 100%; }
#nav > li > a { height: 100%; padding: 0 12px 0 8px; }
#nav > li > a > span { text-transform: uppercase; line-height: 45px; }
#nav > li > ul:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    width: 0; height: 0;
    border-bottom: 8px solid #FFFFFF;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
/* 0 Level */
#nav li { float:left; }
#nav li.active a { color: #af8bbe; }
#nav li.active a { color: #af8bbe; }
#nav a { float:left; padding:5px 12px 6px 8px; color:#af8bbe; font-weight:bold; }
#nav li.over a,
#nav a:hover { color:#ffffff; }

/* 1st Level */
#nav ul li,
#nav ul li.active { float:none; margin:0; padding-bottom:1px; background:#ffffff none 0 100% repeat-x; }
#nav ul li.last { background:#ffffff; padding-bottom:0; }

#nav ul a,
#nav ul a:hover { float:none; padding:0; background:none; }
#nav ul li a { font-weight:normal !important; }

/* 2nd Level */
#nav ul, #nav div {
    position:absolute;
    width:15em; top:45px;
    left:-10000px;
    border:none;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background-color: #ffffff;
}
#nav div ul { position:static; width:auto; border:none; }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:5px; }

#nav ul li a {
    background:#ffffff;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms; }
#nav ul li a:hover { background-color: #46166b; }
#nav ul li a,
#nav ul li a:hover span { color:#ffffff !important; }
#nav ul span,
#nav ul li.last li span { padding: 5px 30px; }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:999; padding: 25px 0; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:100px; }
/********** Navigation > */

/* Product View ========================================================================== */
.product-view { border:none; margin: 0 auto; max-width: 960px; }
.product-essential { padding: 60px 0 30px 0; background: none; position: relative; }
.product-view .product-img-box { float: left; width: 570px; }
.col1-layout .product-view .product-shop { float: right; width: 360px;  }
.product-view .product-img-box .product-image-zoom { margin-bottom: 48px; position:relative; width: 570px; height: 570px; overflow:hidden; z-index:9; }
.product-view .product-img-box .product-image-zoom img { padding-top: 48px; position:absolute; left:0; top:0; cursor:pointer; }
.product-view .product-img-box .more-views ul { margin: 0 auto; text-align: center; }
.product-view .product-img-box .more-views li { float: none; margin: 0; display: inline-block; margin-right: 5px; }
.product-view .product-img-box .more-views li a { float: left; width: 56px; height: 56px; border: 1px solid #B69FC5; overflow: hidden; }
.product-img-box .more-views li.slide-current a { border: 3px solid #B69FC5;  }
.product-view .product-img-box .zoom { display: none; }

/* Product View Social */
.product_view_social_wrapper { height: 33px; }
.product_view_social_wrapper .product_social_pinterest, .product_view_social_wrapper .product_social_facebook {
    width: 28px;
    height: 28px;
    float: left;
    border-radius: 50%;
    background-color: #d0b9d8;
    margin-right: 5px;
    cursor: pointer;
}
.product_view_social_wrapper .product_social_pinterest:hover, .product_view_social_wrapper .product_social_facebook:hover {
    width: 33px;
    height: 33px;
    background-color: #44166b;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.product_view_social_wrapper .product_social_pinterest .pinterest_icon {
    background: url(../images/pinterest_white.png) 50% 30% no-repeat;
    width: 100%;
    height: 100%;
}
.product_view_social_wrapper .product_social_facebook .facebook_icon {
    background: url(../images/facebook_white.png) 50% 50% no-repeat;
    width: 100%;
    height: 100%;
}

/* product-shop */
.product-view .product-shop .product-name { margin: 0 0 20px 0; }
.product-view .product-shop .product-name h1 { margin: 0; font: 32px/1.2em "ProximaNova-Semibold",sans-serif; color: #000; text-transform: uppercase; }

.ratings { float: right; font-size: 11px; line-height: 1.25; margin: 5px 0; }
.ratings .rating-box { float: right; margin: 0 0 0 5px; }
.ratings .rating-links { margin: 0; float: right; }
.ratings .rating-links a { font: 12px "ProximaNova-Semibold",sans-serif; color: #46166b; text-decoration: none; }
.ratings .rating-links a:hover { color: #000000; text-decoration: underline; }
.rating-box .rating { float: left; height: 13px; background: url(../images/bkg_rating.gif) 0 100% repeat-x; }
.rating-box {
    width: 69px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    background: url(../images/bkg_rating.gif) 0 0 repeat-x;
    text-indent: -999em;
    overflow: hidden;
}

.regular-price .price { font: 20px/1em "ProximaNova-Bold",sans-serif; color: #000; text-transform: capitalize; padding: 0; }

.product-select-options { position: relative; height: 40px; }
.product-select-options .input-box { float: left; height: 100%; padding: 0; margin: 0; width: 268px; }
.product-select-options .input-box select, .product-select-options input.qty { height: 100%; border: solid 1px #dacce2; color: #000; text-transform: uppercase !important; font: 13px/38px "ProximaNova-Semibold",sans-serif; }
.product-select-options .input-box select { padding: 1px; width: 100%; }
/*.product-select-options input.qty { float: right; padding: 0 0 0 15px; margin: 0; width: 50px !important; height: 38px; line-height: 5px; }*/

/*** product count select begin ***/
.product-select-options .select_wrapper { float: right; }

a.slct_count { text-decoration: none; }

.product-select-options .slct_count {
    display: block;
    border-radius: 0;
    border: 1px solid #dacce2;
    background-color: #ffffff;
    width: 45px;
    padding: 0 9px 0 15px;
    color: #444;
    font: 13px/38px "ProximaNova-Semibold",sans-serif;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.product-select-options div.select_wrapper:hover .slct_count {
    border-color: #b69fc5;
}
.product-select-options div.select_wrapper:hover .slct_drop_list {
    border-color: #b69fc5;
}
.product-select-options .slct_count.active {
    border-radius: 0;
    border-bottom: none;
}
.product-select-options .slct_drop_list {
    margin: 0;
    padding: 0;
    width: 69px;
    border: 1px solid #dacce2;
    border-top: none;
    display: none;
    position: absolute;
    background: #fff;
}
.product-select-options .first_select_li {
    border-top: 1px solid #dacce2;
}
.product-select-options .slct_drop_list li {
    list-style: none;
    cursor: pointer;
    display: block;
    color: #444;
    padding: 0 0 0 15px;
    font: 13px/38px "ProximaNova-Semibold",sans-serif;
}
.product-select-options .slct_drop_list li:hover {
    background-color: #f4f0f6;
    color: #222;
}
div.select_wrapper {
    position: relative;
    z-index: 100;
}
.product-select-options #slct_decor_arrow {
    position: absolute;
    border: 6px solid transparent;
    border-top-color: #46166b;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    padding: 0;
    cursor: pointer;
}
.product-select-options #slct_decor_arrow.active_arrow {
    border-bottom-color: #46166b;
    top: 9px;
    border-top-color: transparent;
}

.product-select-options .select_wrapper_full { float: none !important; width: 100% !important; }
.product-select-options .slct_count_full { width: 100% !important; padding: 0 !important; }
.product-select-options .slct_count_full span { padding-left: 15px !important; }
.product-select-options .slct_drop_list_full { width: 100% !important; }
/*** product count select end ***/

.product-view .product-shop .availability { margin: 10px 0; display: inline-block; }
.product-view .product-shop .availability span { color: #999; font: 12px/1.2em "ProximaNova-Regular",sans-serif; }

.product-shop .add-to-link { margin: 10px 0; display: inline-block; float: right; clear: right; }
.product-shop .add-to-link a:before {
    content: '';
    width: 14px;
    height: 14px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/add_to_favorite.png) no-repeat;
}
.product-shop .add-to-link a {
    font: 12px/1.3em "ProximaNova-Semibold",sans-serif;
    color: #46166b !important;
    text-transform: uppercase;
    text-decoration: none;
    -moz-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    display: inline-block;
}
.product-shop .add-to-link a:hover { color: #000000 !important; }

/* Product Details */
.product-collateral {
    background: none;
    margin: 55px 0 0 0;
    padding: 0;
    border-top: 3px solid #46166b;
    border-bottom: 3px solid #46166b;
}
.product-collateral .box-collateral {
    position: relative;
    margin: 0;
    padding: 18px 10px 18px 0;
    cursor: pointer;
    border-top: 1px solid #dacce2;
    background: none !important;
}
.product-collateral h2 {
    font: 13px/1.2em "ProximaNova-Bold",sans-serif;
    color: #46166b;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 18px 28px 18px 0;
}
.product-collateral h2 span {
    float: right;
    font: 20px/0.7em "ProximaNova-Bold",sans-serif;
    color: #46166b;
}

.box-collateral .std {
    margin: 0 0 20px;
    overflow-y: auto;
    max-height: 300px;
}

.product-pricing, .tier-prices {
    margin: 0;
    background-color: #f4f7f7;
    border: none;
    font: 1.1em/14px "ProximaNova-Regular",sans-serif;
    color: #999;
    padding: 15px 0 0 5px;
}

/* Add to Cart */
.add-to-cart .btn-cart {
    width: 360px;
    height: 65px;
}
.add-to-cart .btn-cart > span {
    width: 360px;
    height: 65px;
    background: url(../images/btn-cart.jpg) no-repeat 0 0 #200a33;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    border: none;
}
.add-to-cart .btn-cart > span:hover {
    background-image: url(../images/btn-cart--hover.jpg);
}
.add-to-cart .btn-cart span span {
    background: none;
    font-size: 17px;
}

/* box-collateral */
.product-view .box-up-sell .products-grid {
    width: 100%;
    border: none !important;
    background: none !important;
    margin-bottom: 45px;
}
.product-view .box-up-sell .products-grid td {
    width: 25%;
    background: none !important;
    border: none !important;
    padding: 15px 10px 12px;
    line-height: 1.6em;
    text-align: center !important;
    position: relative;
}
.product-view .box-up-sell .products-grid td img { border: none; }
.product-view .box-collateral {
    float: none;
    clear: both;
    width: auto;
    padding: 0;
    border-top: 1px solid #dacce2;
}

.box-collateral > div {
    display: none;
}
.products-grid .product-image {
    display: block;
    height: 220px;
    width: auto;
    margin: 0 0 15px;
}
.product-view .box-up-sell h2 {
    font: 30px/1.2em "ProximaNova-Bold",sans-serif;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 25px 0;
}
.products-grid .product-name { margin: 0 0 40px; min-height: 60px; }
.products-grid .product-name a {
    font: 16px/18px "ProximaNova-Semibold",sans-serif;
    text-transform: uppercase;
    color: #46166b;
    display: inline-block;
    margin-bottom: 3px;
    text-decoration: none;
    text-align: center;
}
.product-view .box-up-sell .products-grid .price-box {
    text-align: center;
    margin-bottom: 15px;
}
.product-view .box-up-sell .products-grid .price-box a { text-decoration: none;  }
.product-view .box-up-sell .products-grid .price-box a span {
    font: 12px/1.0em "ProximaNova-Regular",sans-serif !important;
    color: #000000 !important;
}
.product-view .box-up-sell .products-grid .price-box .price {
    font: 14px/1.2em "ProximaNova-Regular",sans-serif;
    color: #000000;
}
.product-view .box-up-sell .products-grid .ratings {
    float: none;
    display: block;
    font-size: 11px;
    line-height: 1.25;
    margin: 5px 0;
}
.product-view .box-up-sell .products-grid .ratings .rating-box {
    float: none;
    display: block;
    margin: 0 auto;
}
.product-view .box-up-sell .products-grid .ratings .rating-links { display: none; }
.product-view .box-up-sell .products-grid .product-open { width: 100%; text-align: center; position: absolute; bottom: 0; left: 0; right: 0; }
.product-view .box-up-sell .products-grid .product-page-open {
    font: 13px/22px "ProximaNova-Bold",sans-serif;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    background: #fff;
    border: solid 1px #46166b;
    color: #46166b;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 120px;
    line-height: 25px;
}
.product-view .box-up-sell .products-grid .product-page-open:hover {
    text-decoration: none;
    color: #fff;
    background-color: #46166b;
}

.box-like-list, .box-collateral-tags {
    display: block !important;
    border-top: 1px solid #dacce2 !important;
    /*margin: 0 -500% !important;*/
    /*padding: 0 500% !important;*/
    padding-top: 30px !important;
    overflow: hidden !important;
}
/**** tags ****/
.product-view .box-tags .product-tags li {
    margin: 0 14px 5px 0 !important;
    background-image: none !important;
    background-color: #d5c7dd !important;
    border: 1px solid #F2F1F4 !important;
    padding: 0 10px 0 0 !important;
}
.box-collateral-tags h2 {
    font-size: 12px;
    line-height: 1.5;
    color: #563167;
    padding: 0px 0 20px 3px;
    text-transform: uppercase;
    font-weight: bold;
}
.box-collateral-tags .product-tags li a {
    background-image: url(../images/iconText.gif);
    background-repeat: no-repeat;
    text-decoration: none;
    background-position: 0 -118px;
    padding-left: 13px;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    color: #5D3479;
    font-size: 12px;
    text-transform: uppercase;
}
.box-collateral-tags .product-tags li a span {
    white-space: nowrap;
    padding-left: 5px;
}
/**** reviews ****/
.box-reviews .review {
    background-color: #ffffff;
    border-style: solid;
    border-color: #e7e7e7;
    border-width: 0 0 2px 0;
    margin: 10px 0;
    padding: 15px 0;
    text-align: justify;
}
.box-reviews .review:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}
.box-reviews .review .review-right-block { display: inline-block; width: 20%; vertical-align: top }
.box-reviews .review .review-left-block { display: inline-block; width: 75%; text-align: justify; vertical-align: top }
.box-reviews .review .review-left-block .review-title {
    text-transform: none;
    font-size: 24px;
    color: #0e0e0e;
    font-family: ProximaNova-Bold,sans-serif;
    font-weight: normal;
}
.review-rating-box {
    width: 100px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    background: url(../images/bkg_rating_2.gif) 0 0 repeat-x;
    text-indent: -999em;
    overflow: hidden;
}
.review-rating-box .rating { float: left; height: 13px; background: url(../images/bkg_rating_2.gif) 0 100% repeat-x; }
.ratings-table th {
    font-weight: normal;
    line-height: 1em;
    color: #0e0e0e;
    text-transform: uppercase;
    font-size: 11px;
    display: block;
}
.ratings-table td {
    padding: 0;
    display: block;
}

/* Category View ========================================================================== */
.col1-layout .col-main .category-view {
    width: 100%;
    max-width: 960px;
    background: none;
    background-color: #ffffff;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 40px;
}
.category-view .category-title {
    display: block;
    border-bottom: 1px solid #dacce2;
    /*margin: 0 -500%;*/
    /*padding: 0 500%;*/
    padding-top: 30px;
    overflow: hidden;
}
.category-title h1 {
    width: 25% !important;
    float: left;
    font: 30px/normal "ProximaNova-Bold",sans-serif;
    color: #000000;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.page-title .category-list {
    width: 75%;
    float: left;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    transform: translatez(0);
    display: block;
    padding: 0 0 11px;
}
.page-title .category-list .category-list-item  {
    width: 33.33333%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    font-family: "ProximaNova-Regular",sans-serif;
    line-height: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
}
.page-title .category-list .category-list-item a {
    text-decoration: none;
    color: #46166b;
    line-height: 2;
}
.page-title .category-list .category-list-item a:hover { text-decoration: underline; }

.page-title .category-list .category-list-item.active:before {
    position: absolute;
    right: 100%;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #46166b;
    border-left-width: 7px;
    border-right-width: 7px;
    margin-top: -6px;
    top: 50%;
}
.page-title .category-list .category-list-link.active {
    color: #000;
}

.col1-layout .products-grid {
    width: 960px;
    margin: 0 auto;
    background: none;
    border: none;
    text-align: center;
}
.products-grid li.item {
    float: left;
    margin: 0 0 35px 0;
    width: 25%;
    position: relative;
    padding: 0 0 30px 0;
    min-height: 290px;
}
.products-grid .item span.amount { display: none; }
.products-grid .item .ratings { float: none; }
.products-grid .item .ratings .rating-box { float: none; display: block; margin: 0 auto; }
.products-grid .actions { position: absolute; bottom: 0; left: 0; right: 0; }
.products-grid .actions button.button { width: 120px; line-height: 25px; }
button.button > span {
    display: block;
    height: 25px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
    font: 13px/25px "ProximaNova-Bold",sans-serif;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    background: #fff;
    border: solid 1px #46166b;
    color: #46166b;
    cursor: pointer;
    margin: 0;
    text-transform: uppercase;
}
button.button > span:hover {
    text-decoration: none;
    color: #fff;
    background-color: #46166b;
}
.products-grid .item .price-box .regular-price .price {
    font: 14px/18px "ProximaNova-Regular",sans-serif;
    color: #000;
    max-height: 20px;
    overflow: hidden;
}
.products-grid .item .price-box .minimal-price-link { text-decoration: none; }
.products-grid .item .price-box .minimal-price-link span { font: 12px/1.0em "ProximaNova-Regular",sans-serif !important; color: #000000 !important; }
.category-products { padding-bottom: 40px; }
.category-products .toolbar { margin: 20px 0; position: relative; height: 25px; }
.category-products .toolbar .pager {
    border: none;
    background: none;
    float: right;
}
.category-products .toolbar .sorter {
    border: none;
    background: none;
    float: left;
}
.sorter .sort-by label, .pager .limiter label {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 10px 0 0;
    vertical-align: middle;
    font: 12px/16px "ProximaNova-Bold",sans-serif;
}
.sorter .sort-by select, .pager .limiter select {
    font: 13px/28px "ProximaNova-Regular",sans-serif;
    padding: 0 9px 0 9px;
    text-transform: capitalize;
    border: 1px solid #dacce2;
    cursor: pointer;
    width: 200px;
    color: #919191;
    height: 25px;
}
.pager .limiter {
    font: 12px/16px "ProximaNova-Bold",sans-serif;
}

.recently-viewed-block {
    display: block !important;
    border-top: 1px solid #dacce2 !important;
    /*margin: 0 -500% !important;*/
    /*padding: 0 500% !important;*/
    padding-top: 55px !important;
    overflow: hidden !important;
    float: none;
    clear: both;
}
.recently-viewed-title {
    font: 30px/1.2em "ProximaNova-Bold",sans-serif;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 25px 0;
}
/* END Category View ========================================================================== */

/* Checkout ========================================================================== */
.opc-wrapper-opc {
    padding-top: 20px;
    overflow: hidden;
    width: 960px;
    margin: auto;
    padding-bottom: 40px;
}
.opc-wrapper-opc * {
    font-family: "ProximaNova-Regular",sans-serif;
    color: #000000;
}
.opc-wrapper-opc .l-back_to_bag {
    width: 100%;
    float: left;
}
.opc-wrapper-opc .b-back_to_bag {
    font: 14px/1 "ProximaNova-Regular",sans-serif;
    background: url(../images/arrow_left.png) no-repeat 0 center;
    padding: 0 0 0 10px;
    margin: 0 0 20px 0;
    display: inline-block;
    border: 0;
    color: #46166b;
    cursor: pointer;
    text-decoration: none;
}
.opc-wrapper-opc .b-back_to_bag:hover {
    color: #000000;
    text-decoration: underline;
}
.opc-wrapper-opc .l-checkout-head {
    width: 66.66667%;
    float: left;
    margin-bottom: 40px;
}
.opc-wrapper-opc .l-checkout-head h2.b-checkout-title {
    font: 30px/1.2em "ProximaNova-Bold",sans-serif;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 15px;
    color: #000000;
}
.opc-wrapper-opc .l-checkout-head span.b-checkout-message {
    font: 12px/1.2em "ProximaNova-Regular",sans-serif;
    color: #000000;
}

.opc-wrapper-opc .checkout-main_section { position: relative; }

.opc-wrapper-opc #co-billing-form, .opc-wrapper-opc #shipping-new-address-form {
    border-bottom: 1px solid #dacde1;
    margin: 0 0 15px;
    padding: 0 0 5px;
}
.opc-wrapper-opc legend {
    display: block;
    border-bottom: 1px solid #dacde1;
    width: 100%;
    margin-bottom: 17px;
}
.opc-wrapper-opc legend h3 {
    margin: 5px 0;
    font: 20px/1em "ProximaNova-Bold",sans-serif;
    color: #000;
    padding: 5px 0;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    border: none;
}
.opc-wrapper-opc .fields .field {
    margin: 0 !important;
    width: 100% !important;
}
.opc-wrapper-opc .fields input, .opc-wrapper-opc .wide input[type="text"], .opc-wrapper-opc .fields select,
.opc-wrapper-opc .form-list .input-box input[type="text"], .opc-wrapper-opc .discount-block input[type="text"], #ccsave_cc_type {
    font: 13px "ProximaNova-Regular",sans-serif !important;
    border: 1px solid #dacde1 !important;
    color: #919191 !important;
    width: 100% !important;
    padding: 6px 12px !important;
    outline: 0 !important;
    border-radius: 0 !important;
    height: 30px !important;
}
.opc-wrapper-opc .fields select { padding: 6px 8px !important; }
.opc-wrapper-opc .fields .input-box, .opc-wrapper-opc .opc-col-left .wide .input-box, .opc-wrapper-opc .discount-block .input-box {
    width: 100%;
    height: auto;
}
.opc-wrapper-opc li {
    margin: 0;
    padding: 0;
    width: 100%;
}
.opc-wrapper-opc .input-box { width:100% !important; padding:0}
.opc-wrapper-opc input[type="text"],
.opc-wrapper-opc input[type="password"]{border:1px solid #d8d8d8; height:22px;padding:0;padding-left:5px;}
.opc-wrapper-opc .wide select{border:1px solid #d8d8d8; height:24px;padding:0;width:100%;padding-left:5px;}
.opc-wrapper-opc .customer-name .field{width:132px;}
.opc-wrapper-opc .customer-name .field:first-child{margin-right:14px;}
.opc-wrapper-opc .opc-col-left .customer-name .input-box{width:132px;}
.opc-wrapper-opc .customer-name input[type="text"]{width:130px;}
.opc-wrapper-opc .opc-col-left .wide{width:100%}
.opc-wrapper-opc .wide .input-box {width:100%;padding:0}
.opc-wrapper-opc .wide input[type="text"]{border:1px solid #d8d8d8; height:22px;padding:0;width:100%;padding-left:5px;}
.opc-wrapper-opc .fields .field{ clear: none;float: left;width: 46%;}
.opc-wrapper-opc .fields .field:first-child{margin-right:21px;}
.opc-wrapper-opc .fields .input-box{width:100%;}
.opc-wrapper-opc .fields input[type="text"],
.opc-wrapper-opc .fields input[type="password"]{width:100%;}
.opc-wrapper-opc .fields select{width:100%}
.opc-wrapper-opc .control{text-align: left;}
.opc-wrapper-opc .control label{font-size: 13px;}
.opc-wrapper-opc .notice{font-size:13px; color:#6e6e6e; font-style: italic;margin-bottom:5px; }

.opc-wrapper-opc .opc-col-left .control {
    text-align: left;
    position: absolute;
    top: 56px;
    left: 328px;
}

#opc-address-form-shipping div > ul.form-list { margin-top: 48px; }

.opc-wrapper-opc .opc-col-left .control > input[type='checkbox'] {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index:99999;
    position: relative;
    cursor: pointer;
}

.opc-wrapper-opc .opc-col-left .control > input[type='checkbox'] + label {
    padding-left: 24px;
    background: url('../images/checkout_checkbox.png') transparent no-repeat 4px 6px;
    position: relative;
    left: -21px;
    cursor: pointer;
}
.form-list li.wide .input-box, #checkout-payment-method-load .input-box { height: auto; }
.opc-wrapper-opc .opc-col-left .control > input[type='checkbox']:checked + label {
    background: url('../images/checkout_checkbox_checked.png') transparent no-repeat 4px 2px
}

.opc-wrapper-opc .shipping-block h3 {
    font: 16px/1.2em "ProximaNova-Bold",sans-serif;
    text-transform: none;
    margin: 0;
    border: none;
}

.discount-block .f_legend .f_legend_value {
    text-transform: uppercase;
    color: #350958;
    font: 13px/1 "ProximaNova-Bold",sans-serif;
}
.discount-block .f_legend { cursor: pointer; }
.f_legend:after {
    content: '+';
    position: absolute;
    margin: 0;
    right: 10px;
    font: 22px/1.2em "ProximaNova-Bold",sans-serif;
}
.discount-block .f_legend.active:after {
    content: '-';
    font: 24px/1em "ProximaNova-Regular",sans-serif;
}
#opc-discount-coupon-form { display: none; }
.opc-wrapper-opc .payment-block h3 {
    margin-bottom: 13px;
}
.opc-wrapper-opc .discount-block {
    margin-top: 0 !important;
    border-bottom: 1px solid #dacde1;
    padding-bottom: 17px;
    margin-bottom: 22px;
}
.discount-form .buttons-set button {
    font: 13px/1 "ProximaNova-Bold",sans-serif;
    width: 100%;
    padding: 3px 15px;
    height: 30px !important;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    background: #46166b;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
.discount-block .discount {margin-top: 15px; }
.input-box .v-fix { margin-right: 10px; }
.input-box .v-fix select, .input-box .v-fix input[type="text"]#ccsave_cc_cid {
    width: 100px !important;
    font: 13px "ProximaNova-Regular",sans-serif;
    border: 1px solid #dacde1;
    color: #919191;
    padding: 6px 12px !important;
    outline: 0;
    border-radius: 0;
    height: 30px;
}
.opc-wrapper-opc .payment-block li {
    height: 30px;
}
#checkout-review-submit .buttons-set button {
    width: 244px;
    height: 62px;
    margin: 0 auto;
    float: none;
    font-size: 17px;
    background: url(../images/btn-cart.jpg) no-repeat 50% 50% #200a33;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
#checkout-review-submit .buttons-set button:hover {
    background-image: url(../images/btn-cart--hover.jpg);
}
.opc-wrapper-opc .payment-block {
    margin-top: 30px;
    position: relative;
    padding-top: 10px;
    border-top: 1px solid #dacde1;
}
.opc-wrapper-opc #shipping-new-address-form {
    border: none;
    margin: 0;
}
.opc-wrapper-opc .opc-col-right {
    background: #f5edf5;
}
.opc-wrapper-opc .opc-data-table {
    width: 85% !important;
    margin: 0 auto;
    padding-top: 25px;
    font: 14px/18px "ProximaNova-Regular",sans-serif !important;
}
.checkout_divider {
    margin: 0 0 13px 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: #909090;
    font: 13px/1.3em "ProximaNova-Bold",sans-serif;
}
.checkout_divider:before {
    margin-left: -100%;
    padding-left: 100%;
}
.checkout_divider:before, .checkout_divider:after {
    content: '';
    border-bottom: 1px solid #dbdbdb;
    display: inline-block;
    vertical-align: middle;
}
.checkout_divider:after {
    margin-right: -100%;
    padding-right: 100%;
}
.checkout_cart_actions {
    margin-top: 15px;
    padding: 0 30px 20px 30px;
    text-align: center;
}
.opc-col-right .checkout_cart_actions .paypal-checkout { width: auto; margin: 0; padding: 0; }
