/* ################### FOOTER ########################### */
.footer-container {
    border: none;
    height: 346px;
    background-repeat: repeat-x;
    background-image: url(../images/bg_footer.jpg);
}
.footer_top_wrapper {
    border-bottom: 1px solid #5d4969;
    height: 120px;
    width: 100%;
}
.footer_top {
    width: 960px;
    height: 120px;
    margin: 0 auto;
}
.social_footer {
    float: left;
    width: 400px;
    text-align: left;
    padding: 50px 0 0 30px;
}
.social_footer img:hover {
    width: 40px;
    height: 40px;

}
.subscribe_wrapper {
    width: 960px;
    margin: 0 auto;
}
.subscribe {
    width: 480px;
    float: left;
}
.form_subscribe_header{
    color: #ffffff;
    text-align: left;
    line-height: normal;
    padding-top: 25px;
}
.input_box {
    width: 305px;
    float: left;
    margin: 0 15px 0 0;
}
#newsletter {
    border: 1px solid #dacde1;
    color: #919191;
    width: 100%;
    padding: 6px 12px;
    height: 25px;
    line-height: 20px;
    outline: 0;
    border-radius: 0;
}
#subscribe_button {
    width: 103px;
    height: 40px;
    background: #46166b;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 12px 24px;
    text-transform: uppercase;
    text-align: center;
}
#subscribe_button:hover {
    text-decoration: none;
    background-color: #b69fc5;
    border-color: #b69fc5;
    color: #fff;
}

.social_wrapper {
    width: 400px;
    height: 90px;
    color: #ffffff;
    line-height: 50px;
    float: right;
}
.footer {
    width: 960px;;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
}
#about_us {
    color: #ffffff;
}
.footer_about {
    color: #b69fc5;
    text-align: left;
    float: left;
    width: 475px;
}
#footer_bottom_logo1 {
    width: 62px;
    height: 40px;
    background-image: url(../images/logo_footer_1.png);;
}
#footer_bottom_logo2 {
    width: 32px;
    height: 40px;
    background-image: url(../images/logo_footer_2.png);;
}
#footer_bottom_logo3 {
    width: 52px;
    height: 49px;
    background-image: url(../images/logo_footer_3.png);;
}
#footer_bottom_logo4 {
    width: 36px;
    height: 42px;
    background-image: url(../images/logo_footer_4.png);;
}
.bt_logo {
    float: left;
    margin-top: 20px;
    padding: 0 5px;
    background-repeat: no-repeat;
}
.footer_links {
    float: right;
    width: 470px;
}
.footer_links .links {
    width: 140px;
    padding-left: 25px;
}
.footer_links .links ul li {
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    display: block;
    text-align: left;
    background: none;
    padding: 0;
}
.copyright {
    text-align: left;
    position: absolute;
    bottom: 0;
}
.footer address {
    padding-left: 25px;
    margin-bottom: 5px;
}
/* ############## Slider #################### */
.slideshow-container {
    max-height: 60vh;
    overflow: hidden;
    vertical-align: top;
    white-space: normal;
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    border: 0;
}
.slideshow-container .slideshow {
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0;
    border: 0;
}
.slideshow-container .slideshow > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: block;
    margin: 0;
}
.slideshow-container .slideshow > li:first-child {
    position: static;
    z-index: 100;
}
.slideshow-container .slideshow > li .bg_img {
    max-width: 100%;
    width: 100%;
}

.slideshow-pager {
    text-align: center;
    width: 100%;
    z-index: 115;
    position: absolute;
    bottom: 0;
    top: auto;
    overflow: hidden;
}
.slideshow-pager span {
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #DDDDDD;
    cursor: pointer;
}
.slideshow-pager span:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 1px;
    background-color: #FFFFFF;
    position: relative;
    opacity: 0.5;
}
.slideshow-pager span:hover:before {
    opacity: 1;
}
.slideshow-pager span.cycle-pager-active:before {
    opacity: 1;
}
.slideshow-pager > * {
    cursor: pointer;
}

.slideshow-prev,
.slideshow-next {
    position: absolute;
    top: 0;
    max-width: 80px;
    height: 100%;
    opacity: 0.6;
    z-index: 110;
    cursor: pointer;
}
.slideshow-prev:before,
.slideshow-next:before {
    content: '';
    width: 0;
    height: 0;
    font-size: 0;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -30px;
}
.slideshow-prev:hover,
.slideshow-next:hover {
    opacity: 1;
}
.slideshow-prev.disabled,
.slideshow-next.disabled {
    cursor: default;
}

.slideshow-prev {
    left: 0;
}
.slideshow-prev:before {
    width: 71px;
    height: 96px;
    background-image: url("../images/previous.png");
    top: 50%;
}
.slideshow-next {
    right: 0;
}
.slideshow-next:before {
    width: 71px;
    height: 96px;
    background-image: url("../images/next.png");
    top: 50%;
    right: 1px;
}

.cycle-caption {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 15px;
    z-index: 110;
}

.cycle-overlay {
    font-family: tahoma, arial;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 120;
    background: black;
    color: white;
    padding: 15px;
    opacity: .5;
}
.front_img {
    left: 50%;
    top: 50%;
    margin-left: -513px;
    margin-top: -300px;
    width: 1027px;
    height: 460px;
    padding: 0;
    position: absolute;
}

/* ############## CONTENT ################### */
.main {
    width: 100%;
    max-width: 1920px;
    background: none;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
.main-container {
    background-image: none;
    margin: 0;
    padding: 0;
}
.block_bacground {
    display: block;
    width: 100%;
}
.content_medium_items {
    width: 1122px;
    margin: 0 auto;
}
.medium_item {
    display: inline-block;
    vertical-align: middle;
    margin: 40px 15px 50px 15px;
    text-align: center;
    font-size: 13px;
    float: left;
}
.medium_text p {
    max-width: 185px;
    min-height: 50px;
    margin: 0 auto 8px;
    font-size: 14px;
    line-height: 17px;
}
.medium_image {
    width: 100%;
    position: relative;
    margin: 0 0 20px;
}
.medium_text h2 {
    font: 16px/16px "ProximaNova-Bold",sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.button {
    transition-property: all;
    transition-duration: 150ms;
    background: #fff;
    border: solid 1px #46166b;
    color: #46166b;
    cursor: pointer;
    display: inline-block;
    padding: 5px 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
    color: #fff;
    background-color: #46166b;
}
.rand-prod h2 {
    font: 30px/1.2em "ProximaNova-Bold",sans-serif;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0;
}
/* ############## LOGIN FORM ################## */

.account-login {
    width: 960px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

.primary {
    padding: 0 125px;
}
.b-myaccount-header {
    position: relative;
    padding: 0 0 11px;
    border-bottom: 1px solid #dacce2;
    margin-bottom: 20px;
}
.b-myaccount-header h1 {
    font: 30px/1.2em "ProximaNova-Bold",sans-serif;
    color: #000;
    text-transform: uppercase;
    font: 26px "ProximaNova-Bold",sans-serif;
}
.create-account-benefits h2 {
    font: 16px/1.2em "ProximaNova-Bold",sans-serif;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.create-account-benefits ul {
    margin: 5px 0 17px;
    padding-left: 26px;
    list-style: disc;
}
.button-color {
    width: 100%;
    font: 13px/1 "ProximaNova-Bold",sans-serif;
    background: #46166b;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 14px 0;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: 150ms;
}
.button-color:hover {
    text-decoration: none;
    background-color: #b69fc5;
    border-color: #b69fc5;
    color: #fff;
}
.validation-advice {
    padding: 1px 0 0;
    background: none;
    color: #ea0b8b;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 300ms;
    -webkit-animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}
.login_page {
    width: 100%;
}
.log-in-form-input {
    line-height: 18px;
    font: 13px "ProximaNova-Regular",sans-serif;
    border: 1px solid #dacde1;
    color: #919191;
    padding: 6px 12px;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0;
}
.input-box {
    height: 48px;
    padding-bottom: 3px;
}

#email {
    width: 319px;
}
#pass {
    width: 319px;
}
.f-left {
    font-size: 12px;
    padding-top: 5px;
    transition-duration: 300ms;
    border: 0;
    color: #46166b;
    cursor: pointer;
}
.fogot-pass-link-wrapper {
    padding-left: 110px;
}
.f-left:hover {
    text-decoration: none;
    color: #000;
}
.b-customer_service-assets {
    margin: 0 auto;
    padding: 50px 0 30px 0;
    width: 980px;
}
.content_asset {
    width: 305px;
    font: 14px "ProximaNova-Regular",sans-serif;
}
.b-customer_service-item {
    float: left;
    padding-left: 20px;
}
.b-widget-title {
    font: 16px/22px "ProximaNova-Semibold",sans-serif;
    text-transform: uppercase;
}
.b-widget {
    background: url("../images/bg_widget.png") no-repeat 0 0;
    padding: 17px 29px 5px 29px;
    min-height: 105px;
}
.b-widget-info {
    font: 12px "ProximaNova-Semibold",sans-serif;
    letter-spacing: -0.01em;
}
.b-widget-list_item {
    font: 14px/18px "ProximaNova-Bold",sans-serif;
}

/* ################# REGISTER FORM ##################### */

.account-create {
    width: 960px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}
.primary {
    padding: 0 125px;
}
.page-title {
    position: relative;
    padding: 0 0 11px;
    border-bottom: 1px solid #dacce2;
    margin-bottom: 20px;
}
.page-title h1 {
    color: #000;
    text-transform: uppercase;
    font: 26px "ProximaNova-Bold",sans-serif;
}
.form_registration h2 {
    font: 16px/1.2em "ProximaNova-Bold",sans-serif;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.required_indicator {
    display: block;
    min-height: 20px;
}
.form_registration em {
    margin: 0;
    padding: 20px 0 0 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.left-reg-form {
    width: 335px;
    float: left;
}

.form_registration .required {
    display: none;
}
.field, .name-firstname {
    clear: both;
}
.input-box {
    margin: 0 0 10px 0;
}
.input-box input {
    width: 300px;
    height: 18px;
    line-height: 18px;
    font: 13px "ProximaNova-Regular",sans-serif;
    border: 1px solid #dacde1;
    color: #919191;
    padding: 6px 12px;
}
.check-box .check {
    float:left;
}
.is_subscribed {
    margin: 0 0 30px 20px;
}
.right-reg-form {
    float: right;
    width: 335px;
    font: 14px "ProximaNova-Regular",sans-serif;
}
.right-reg-form h2 {
    font: 16px/1.2em "ProximaNova-Bold",sans-serif;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.right-reg-form p {
    margin: 0 0 14px;
}

/* ################ Checkout Cart ###################### */

.cart-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 960px;
    margin: auto;
}
.continue_shopping_link {
    font: 14px/1 "ProximaNova-Regular",sans-serif;
    background: url(../images/arrow_left.png) no-repeat 0 center;
    padding: 0 0 0 10px;
    margin: 0 0 20px 0;
    display: inline-block;
    transition-duration: 300ms;
    border: 0;
    color: #46166b;
    cursor: pointer;
    text-decoration: none;
}
.cart {
    width: 720px;
    float: left;
    margin-bottom: 25px;
}
.cart-item-title {
    min-height: 40px;
    padding: 8px 0 10px 0;
}
.cart-item-edit {
    padding: 0 10px 10px 0;
    float: left;
}
.cart-option-sep {
    border-left: 1px solid #46166b;
    height: 10px;
    width: 1px;
    float: left;
    margin-top: 5px;
    padding: 0 10px 0 0;
}
.item-option {
    cursor: pointer;
    color: #46166b;
    font: 14px/20px "ProximaNova-Regular",sans-serif;
    transition-duration: 300ms;
}
.item-name {
    text-decoration: none;
    font: 14px/16px "ProximaNova-Semibold",sans-serif;
    cursor: pointer;
    color: #46166b;
}
.cart-product-hr {
    font: 20px/18px "ProximaNova-Bold",sans-serif;
    width: 240px;
    text-transform: uppercase;
    color: #000;
    padding: 0 0 7px 0;
    vertical-align: bottom;
}
.cart-price-hr {
    width: 90px;
    color: #000;
    font: 14px/18px "ProximaNova-Bold",sans-serif;
    padding: 0 0 7px 0;
    vertical-align: bottom;
}
.cart-qty-hr {
    color: #000;
    font: 14px/18px "ProximaNova-Bold",sans-serif;
    padding: 0 0 7px 0;
    width: 100px;
    vertical-align: bottom;
}
.cart-total-hr {
    color: #000;
    font: 14px/18px "ProximaNova-Bold",sans-serif;
    padding: 0 0 7px 0;
    width: 70px;
    vertical-align: bottom;
}

.cart-table thead th{
    background: none;
    border: none;
    border-bottom: 1px solid #dacde1;
    padding-bottom: 10px;
    color: #000000;
}
.data-table tr.first th {
    padding-bottom: 10px;
    border-bottom: 1px solid #dacde1 !important;
}
.cart table {
    border: none;
}
.cart-table .even, .cart-table .odd {
    background: none;
}
.data-table tbody th, .data-table tbody td{
    border: none;
}
.cart-price {
    padding: 5px 0 0;
    display: inline-block;
    font: 14px/22px "ProximaNova-Regular",sans-serif;
}
.cart .a-right {
    text-align: left !important;
}
.cart .a-center {
    text-align: left !important;
}
.cart .discount {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
.cart .discount h2 {
    color: #000000;
    font: 20px/1.2em "ProximaNova-Bold",sans-serif;
    border-bottom: 1px solid #dacde1;
    padding: 0 0 5px 0;
    margin: 0 0 20px 0;
    background: none;
}
.totals {
    background: #f5edf5 !important;
    padding: 25px 20px;
    border: none !important;
}
.cart .totals {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
}
.totals-wrapper h2 {
    font: 20px/1.2em "ProximaNova-Bold",sans-serif;
    border-bottom: 1px solid #dacde1;
    padding: 0 0 5px 0;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.discount ul li {
    display: block;
    float: left;
}
#coupon_code {
    width: 150px;
}
#discount-box {
    width: 185px;
    margin: 0 !important;
}
.buttons-set .button {
    width: 100px;
    font: 13px/1 "ProximaNova-Bold",sans-serif;
    background: #46166b;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 11px 6px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: 150ms;
}
.buttons-set .button:hover {
    text-decoration: none;
    background-color: #b69fc5;
    border-color: #b69fc5;
    color: #fff;
}
.discount .buttons-set {
    margin: 0 !important;
}

#shopping-cart-totals-table {
    width: 300px;
}
.cart-subtotal-td-name {
    text-align: right;
    width: 170px;
}
.totals-pad {
    padding: 15px 0;
}
.cart-grandtotal-td-name {
    text-align: right;
    width: 170px;
}
.total-button {
    width: 205px;
    float: right;
    margin-bottom: 15px;
}
.total-button .btn-proceed-checkout {
    background-image: url("../images/btn-cart.jpg");
    font: 17px "ProximaNova-Semibold",sans-serif;
    padding: 17px 15px;
    letter-spacing: 1px;
    color: #ffffff;
    background-position: 50%;
    margin: 0 0 15px 0;
}
.total-button .btn-proceed-checkout:hover {
    background-image: url("../images/btn-cart--hover.jpg");
}
.divider {
    margin: 0 0 15px 0;
    background: none;
    width: 204px;
    height: 18px;
    color: #909090;
    font: 13px/1.3em "ProximaNova-Bold",sans-serif;
}
.divider .sep {
    height: 1px;
    width: 90px;
    background-color: #dbdbdb;
    float: left;
    margin-top: 6px;
}
.divider .or {
    margin: 0 5px;
    float: left;
    text-indent: 0;
}
.paypal-checkout {
    width: 204px;
    text-align: center;
}
.right-column {
    width: 230px;
    float: right;
}
.customer-service {
    width: 165px;
    background-image: url("../images/bg_widget.png");
    padding: 20px;
    margin-top: 20px;
}
.cart-empty {
    font: 18px/24px "ProximaNova-Regular",sans-serif;
    text-align: center;
    background: url(../images/bg_empty_cart.png) no-repeat center;
    padding: 50px 150px;
    margin: 0 0 20px 0;
}
.cart-empty a {
    transition-duration: 300ms;
    border: 0;
    color: #46166b;
    cursor: pointer;
}
.cart-empty a:hover {
    color: #000;
}
.checkout-types .button.button > span {
    min-height: 36px;
}
.checkout-types .button.button > span:hover {
    background: none;
    border: none;
}
.btn-proceed-checkout  span {
    border: none !important;
}
.checkout-cart-index .rand-prod {
    border-top: 1px solid #dacce2;
}
.second-column {
    width: 150px;
}
.wrap {
    display: none;
    position:absolute;
    left:50%;
    top:50%;
    width: 800px;
    margin: -200px 0 0 -400px;
    font-family:'Raleway',sans-serif;
    z-index: 10100;
    overflow: hidden;
    max-height: none !important;
    height: 400px;
}
.right_four_items{
    width: 204px;
}

.right_four_items .product-image {
    float: left;
    padding-right: 15px;
}
.right_four_items .item a {
    font: 13px/1.2em "ProximaNova-Bold",sans-serif;
    text-transform: uppercase;
    color: #46166b;
    text-decoration: none;
}
.right_four_items .item {
    min-height: 70px;
    margin-bottom: 10px;
    position: relative;
}
.right-items-title {
    font: 30px/1.2em "ProximaNova-Bold",sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    margin: 25px 0;
}
.right_four_items .product-name {
    padding-top: 10px;
}
.right_four_items .small-button {
    background-color: #ffffff;
    color: #46166b;
    border: 1px solid #dbdbdb;
    opacity: 0.8;
    padding: 3px 5px 2px 5px;
    left: 0;
    top: 20px;
    position: absolute;
    font: 13px "ProximaNova-Bold",sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.right_four_items .small-button:hover {
    background-color: #46166b;
    color: #ffffff;
    border: 1px solid #46166b;
}
.right_four_items .small-button-wrapper {
    display: none;
}
.right_four_items .item:hover .small-button-wrapper{
    display: block;
}
.checkout-cart-index #edit-cart-modal {
    display: none;
    width: 800px;
    height: 600px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -400px;
    z-index: 10001;
}
.checkout-cart-configure .add-to-cart .qty{
    float: right;
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
    width: 50px !important;
    height: 38px;
    border: solid 1px #b69fc5;
    color: #000;
    text-transform: uppercase !important;
    font: 13px/38px "ProximaNova-Semibold",sans-serif;
}
.checkout-cart-configure .add-to-cart label {
    color: #000;
    text-transform: uppercase !important;
    font: 13px/38px "ProximaNova-Semibold",sans-serif;
}
.checkout-cart-configure .product-select-options {
    display: none;
}
/* ############ ForgotPass modal window #################### */
div #popup {
    width:100%;
    height:100%;
    opacity:0.7;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#000;
    overflow:auto;
    z-index: 10000;
}
.close-popup-wrapper {
    top: 15px;
    right: 15px;
    position: absolute;
    cursor:pointer;
    width: 24px;
    height: 24px;
    padding: 4px 1px 0 3px;
    transition-duration: 300ms;
    line-height: 24px;
}
.close-popup-wrapper:hover {
    background-color: #46166b;
}
.close-popup {
    font-size: 46px;
    color: #46166b;
    transition-duration: 300ms;
}
.close-popup:hover {
    color: #ffffff;
}
div #popupContent {
    display: none;
    position:absolute;
    left:50%;
    top:50%;
    width: 420px;
    margin: -200px 0 0 -210px;
    font-family:'Raleway',sans-serif;
    z-index: 10100;
    overflow: hidden;
    max-height: none !important;
    height: 400px;
}

.forgotpass-wrapper {
    padding: 52px 60px 60px 60px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position:absolute;
    font: 14px/18px "ProximaNova-Semibold",sans-serif;
}
.request_password_page h1 {
    font: 20px/1em "ProximaNova-Bold",sans-serif;
    color: #000;
    padding: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.request_password_page .b-request_password-signature {
    margin: 0 0 25px 0;
}
.request_password_page form {
    padding: 0;
    margin: 0 0 10px;
}
.request_password_page .f_field {
    margin: 0 0 20px 0;
}
.b-request_password-signature span {
    font: 14px/18px "ProximaNova-Bold",sans-serif;
}
.f_field_email .textinput {
    font: 13px "ProximaNova-Regular",sans-serif;
    border: 1px solid #dacde1;
    color: #919191;
    width: 274px;
    height: 24px;
    padding: 6px 12px;
    line-height: 26px;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0;
}
.formfield .button {
    min-width: 150px;
    transition-duration: 150ms;
    background: #46166b;
    border: 0;
    padding: 14px 26px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}
.formfield .button:hover {
    background-color: #b69fc5;
}

/* ############## USER Account ###################### */
/* ############## Personal info ##################### */

.col2-left-layout .main {
    width: 960px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}
.main-container, .col2-left-layout {
    background-color: #ffffff;
}
.block-account {
    border: none;
}
.block-user-avatar {
    width: 114px;
    border-radius: 57px;
    overflow: hidden;
}
.edit-avatar {
    border: none;
    background-image: url("../images/edit_logo.png");
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 3px;
    right: 3px;
    display: none;
}
.block-user-avatar-wrapper:hover .edit-avatar {
    display: block;
}
.block-user-avatar-wrapper {
    position: relative;
    width: 114px;
    height: 114px;
}
.block-account .block-title {
  background: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    font: 18px/1.2em "ProximaNova-Semibold",sans-serif;
    padding: 27px 0;
}
.block-account .block-title span {
    color: #b69fc5;
}
.block-account .block-title span a {
    transition-duration: 300ms;
    color: #46166b;
}
.block-account .block-title span a:hover {
    color: #000000;
    text-decoration: underline !important;
}
.block-user-avatar-wrapper .block-content {
    background: none;
}
.block .block-content {
    background: none;
    margin: 0;
    padding: 0;
}
.block .block-content ul li {
font-family: "ProximaNova-Semibold",sans-serif;
text-transform: uppercase;
margin: 0 0 12px;
}

.block .block-content ul li a {
    border: none;
    margin: 0;
    padding: 0;
    transition-duration: 300ms;
    color: #46166b;
}

.block .block-content ul li a:hover {
    color: #000000;
    text-decoration: underline !important;
}
.block-account .block-content li.current {
    border: none;
    margin: 0 0 12px;
    padding: 0;
    color: #000000;
}
.page-title h2 {
    text-transform: none;
    font: 14px "ProximaNova-Regular",sans-serif;
    color: #000;
    margin-bottom: 20px;
}
.customer-account-edit .col-main {
    width: 720px;
    min-height: 181px;
    padding: 0 0 0 58px;
    border-left: 2px solid #dacce2;
}
.customer-account-edit #email {
    width: 314px;
    padding: 5px 12px;
}
.customer-account-edit #lastname {
    width: 314px;
    padding: 5px 12px;
}
.customer-account-edit #firstname {
    width: 314px;
    padding: 5px 12px;
}
.customer-account-edit .col-left {
    width: 180px;
}
.customer-account-edit .legend {
    display: block;
    margin-bottom: 5px;
}
.customer-account-edit .first-name-account-edit {
    margin-bottom: 20px;
}
.customer-account-edit .input-box {
    width: 340px;
    height: 30px;
}
.customer-account-edit .form_registration {
    width: 346px;
    padding-right: 20px;
    float: left;
}
.change-pass-show-button {
    float: right;
}
.button-account {
    font: 13px/1 "ProximaNova-Bold",sans-serif;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    background: #46166b;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 14px 26px;
    text-transform: uppercase;
    text-align: center;
    width: 340px;
}
.button-account:hover {
    background: #b69fc5;
}
.customer-account-edit .change-pass-div {
    float: right;
}
.form-list input.input-text {
    width: 314px;
    padding: 5px 12px;
}
.customer-account-edit .field {
    width: 340px;
}
.new-pass {
    margin-bottom: 20px;
}

/* ################## Order History ################## */

.sales-order-history .col-main {
    margin-bottom: 80px;
    width: 705px;
    min-height: 181px;
    padding: 0 0 0 58px;
    border-left: 2px solid #dacce2;
}
.sales-order-history .col-main .my-account {
    margin-bottom: 60px;
}
.no_orders {
    height: 350px;
    position: relative;
}
.no_orders .content_no_orders {
    position: relative;
    display: inline-block;
    width: 90%;
    font: 18px/24px "ProximaNova-Regular",sans-serif;
    background-image: url("../images/bg_empty_cart.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 190px ;
    height: 100%;
}
.no_orders .content_no_orders p {
    position: absolute;
    top: 50%;
    left: 20%;
}

/* ##################  Favorites  ################## */

.wishlist-index-index .col-main {
    margin-bottom: 80px;
    width: 705px;
    min-height: 181px;
    padding: 0 0 0 58px;
    border-left: 2px solid #dacce2;
}
.wishlist-index-index .col-main .my-account {
    margin-bottom: 60px;
}

.b-favorites_empty {
    height: 350px;
    position: relative;
}

.b-favorites_empty .b-fav-content {
    position: relative;
    display: inline-block;
    width: 90%;
    font: 18px/24px "ProximaNova-Regular",sans-serif;
    background-image: url("../images/bg_empty_cart.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
}
.b-favorites_empty .b-fav-content .wishlist-empty-notice {
    position: absolute;
    top: 43%;
    left: 25%;
    text-align: center;
}
.wishlist-index-index .buttons-set {
    border: none;
}
.my-wishlist .product-image {
    width: 215px;
    height: 215px;
    overflow: hidden;
}
.fav-list {
    float: left;
    text-align: center;
    font: 12px/1.2em "ProximaNova-Regular",sans-serif;
    margin-bottom: 20px;
    padding-right: 20px;
}
.my-wishlist  .product-name a {
    text-decoration: none;
    color: #46166b;
    margin-bottom: 3px;
    transition-duration: 300ms;
    font: 18px/24px "ProximaNova-Regular",sans-serif;
    font-weight: bold;
}
.my-wishlist  .product-name a:hover {
    color: #611c97;
}
.price-box .price {
    font: 14px/18px "ProximaNova-Regular",sans-serif;
    color: #000;
}
.my-wishlist .remove-favorite {
    color: #46166b;
    transition-duration: 300ms;
}
.my-wishlist .remove-favorite:hover {
    text-decoration: none;
    color: #000000;
}
.my-wishlist .buttons-set {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
}
.fav-title {
    float: left;
}

/* ################## Adresses ##################### */

.customer-address-index .button {
    font: 13px/1.2em "ProximaNova-Bold",sans-serif;
    transition-duration: 150ms;
    border: 0;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 9px 25px;
    margin: 0;
    background: #46166b;
}
.customer-address-index .button:hover {
    background: #b69fc5;
}
.addresses-list h2 {
    color: #46166b;
}
.addresses-list li.item {
    border: none;
    background: none;
    padding: 10px 0;
}
.addresses-list a {
    text-decoration: none;
    color: #46166b;
    transition-duration: 300ms;
    font: 12px/14px "ProximaNova-Regular",sans-serif;
    font-weight: bold;
}
.addresses-list a:hover {
    color: #000000;
    text-decoration: underline;
}

/* ############### Address edit modal window ################### */

.customer-address-index #modal-window-address-bg {
    width:100%;
    height:100%;
    opacity:0.7;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#000;
    overflow:auto;
    z-index: 10000;
}
.customer-address-index  #modal-window-address {
    display: none;
    position:absolute;
    left:50%;
    top: 0;
    max-width: 420px;
    margin: 0 0 0 -210px;
    font-family:'Raleway',sans-serif;
    z-index: 10100;
    overflow: hidden;
    max-height: none !important;
}
.add-address-wrapper {
    background-color: white;
}
.customer-address-index .fields-div {
    background: #fff;
    padding: 80px 60px 60px 60px;
    overflow: hidden;
    max-height: none;
    height: auto;
}
.customer-address-index h1 {
    font: 20px/1em "ProximaNova-Bold",sans-serif;
    color: #000;
    padding: 5px 0;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.customer-address-index .customer-name {
    margin-top: 8px;
}
.customer-address-index fieldset {
    width: 300px;
}
.customer-address-index .form-list {
    width: 300px;
}
.customer-address-index .form-list input.input-text {
    width: 274px;
}
.customer-address-index .form-list li.wide input.input-text {
    width: 274px;
}
.customer-address-index .form-list li.wide .input-box {
    width: 300px;
}
.customer-address-index #zip {
    width: 124px;
}
.customer-address-index .input-box {
    height: 30px;
}
.customer-address-index .first-name-account-edit {
    margin-bottom: 18px;
}
.customer-address-index .field-phone {
    margin-bottom: 18px;
}
.customer-address-index .field-city {
    margin-bottom: 18px;
}
.customer-address-index .form-list select {
    width: 300px;
    height: 30px;
    border-color: #dacce2;
}
.customer-address-index .close-popup-wrapper {
    padding: 1px 0 1px 2px;
}

.customer-address-index .close-popup {
    font-size: 40px;
}
.customer-address-form .button {
    font: 13px/1.2em "ProximaNova-Bold",sans-serif;
    padding: 9px 25px;
    background-color: #46166b;
    color: #ffffff;
}
.customer-address-form .button:hover {
    background: #b69fc5;
}
.customer-address-index .addresses-additional {
    margin-bottom: 20px;
}

#up-div {
    display: none;
    position: fixed;
    width: 65px;
    height: 65px;
    right: 0;
    bottom: 20px;
    background-color: #46166b;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.to_top_arrow {
    width: 15px;
    height: 15px;
    background-image: url("../images/to_top.png");
    background-size:  cover;
    margin: 15px auto 0 auto;
}

/* ############ SELECT ######################### */


.slct {
    display: block;
    border-radius: 0;
    border: 1px solid #dacce2;
    background-color: #ffffff;
    width: 45px;
    padding: 0 9px 0 9px;
    color: #444;
    font: 13px/28px "ProximaNova-Regular",sans-serif;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;

}
div.select:hover .slct {
    border-color: #b69fc5;
}
div.select:hover .drop {
    border-color: #b69fc5;
}
.slct.active {
    border-radius: 0;
    border-bottom: none;
}
.drop {
    margin: 0;
    padding: 0;
    width: 63px;
    border: 1px solid #dacce2;
    border-top: none;
    display: none;
    position: absolute;
    background: #fff;
}
.first_li {
    border-top: 1px solid #dacce2;
}
.drop li {
    list-style: none;
    cursor: pointer;
    display: block;
    color: #444;
    padding: 0 0 0 9px;
    font: 13px/28px "ProximaNova-Regular",sans-serif;
}
.drop li:hover {
    background-color: #f4f0f6;
    color: #222;
}
div.select {
    position: relative;
    z-index: 100;
}
div.select a {
    text-decoration: none;
}
#slct_arrow {
    position: absolute;
    border: 4px solid transparent;
    border-top-color: #46166b;
    top: 13px;
    left: 49px;
    width: 0;
    height: 0;
    padding: 0;
    cursor: pointer;
}

.customer-account-edit .page-title h1 {
    width: 100%;
}
.sales-order-history .page-title h1 {
    width: 100%;
}