* { margin:0; padding:0; }
.clear {
    clear: both;
}

/* ============================================ *
 * Search Input
 * ============================================ */
.header-container .form-search { float: right;  width:315px; height:30px; background: none; padding:1px 0 0 16px; }
.header-container .form-search label { float:left; width:24px; height:21px; text-align:left; text-indent:-999em; overflow:hidden; }
.header-container .form-search input.input-text { float:right; width:70px; margin: 0; border: none; font: bold 12px Arial,Helvetica,Sans-serif; color: #bebebe; padding: 7px 40px 7px 10px; -webkit-transition: width 0.7s ease 0s; -moz-transition:width 0.7s ease 0s;; -o-transition: width 0.7s ease 0s;; transition: width 0.7s ease 0s;; }
.header-container .form-search input.input-text:focus { width: 200px; color: #000000; }
.header-container .form-search button.button { position:absolute; right: 3px; border:0; width: 21px; height:21px; background:url(../images/search.png) 0 6px no-repeat; padding:0; background-size: 75%; }
.header-container .form-search .search-autocomplete { z-index:999; left:40px !important; top:22px !important; }
.header-container .form-search .search-autocomplete ul { border:1px solid #5c7989; background-color:#f9f5f0; }
.header-container .form-search .search-autocomplete li { text-align:left; border-bottom:1px solid #f4eee7; padding:2px 8px 1px 8px; cursor:pointer; }
.header-container .form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.header-container .form-search .search-autocomplete li.odd { background-color:#fffefb; }
.header-container .form-search .search-autocomplete li.selected { background-color:#f7e8dd; }

/* ################### HEADER ########################### */
.header-top-box { border-bottom: 1px solid #473555; float: none; position: fixed; background: url(../images/bg_header.jpg) repeat-x 0 bottom; padding: 0 0 0 20px; width: 100%; height: 40px; z-index: 33 }
.header-top-box .quick-access { width: 100%; margin:0 auto; padding: 0; position:relative; }
.header-top-box .quick-access .header-customer-info { float: right; margin-right: 30px}

.header-container { border: 0; position: relative; z-index: 3; padding: 40px 0 0; background:url(../images/bg_header.jpg) repeat-x scroll 0 0 #1b0a25;}

.header { width:930px; margin:0 auto; padding: 0; text-align:right; position:relative; z-index:10; }

.header .logo { float:none; margin: 0; padding: 30px 0 0; text-align: center; text-decoration:none !important; }
.header .form-search { position:absolute; top:0; right:29px; width:315px; height:30px; background:none; padding:1px 0 0 16px; }
.header .form-search label { float:left; width:24px; height:21px; text-align:left; text-indent:-999em; overflow:hidden; }
.header .form-search input.input-text { float:left; border-color:#5c7989; width:209px; margin-right:4px; }
.header .form-search button.button { float:left; }
.header .form-search button.button span { border:0; height:21px; background:url(../images/btn_search.gif) 0 0 no-repeat; padding:0 0 0 3px; font:bold 11px/21px Tahoma, Verdana, Arial, sans-serif; }
.header .form-search button.button span span { background-position:100% 0; padding:0 6px 0 3px; }
.header .form-search .search-autocomplete { z-index:999; left:40px !important; top:22px !important; }
.header .form-search .search-autocomplete ul { border:1px solid #5c7989; background-color:#f9f5f0; }
.header .form-search .search-autocomplete li { text-align:left; border-bottom:1px solid #f4eee7; padding:2px 8px 1px 8px; cursor:pointer; }
.header .form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.header .form-search .search-autocomplete li.odd { background-color:#fffefb; }
.header .form-search .search-autocomplete li.selected { background-color:#f7e8dd; }

/* ################### FOOTER ########################### */
.footer-container {
    border: none;
    height: 346px;
    background-repeat: repeat-x;
    background-image: url(../images/bg_footer.jpg);
}
.footer_top_wrapper {
    border-bottom: 1px solid #5d4969;
    height: 120px;
    width: 100%;
}
.subscribe_wrapper {
    width: 960px;
    margin: 0 auto;
}
.subscribe {
    width: 480px;
    float: left;
}
.form_subscribe_header{
    color: #ffffff;
    text-align: left;
    line-height: normal;
    padding-top: 25px;
}
.input_box {
    width: 305px;
    float: left;
    margin: 0 15px 0 0;
}
#newsletter {
    border: 1px solid #dacde1;
    color: #919191;
    width: 100%;
    padding: 6px 12px;
    height: 25px;
    line-height: 20px;
    outline: 0;
    border-radius: 0;
}
#subscribe_button {
    width: 103px;
    height: 40px;
    background: #46166b;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 12px 24px;
    text-transform: uppercase;
    text-align: center;
}
.social_wrapper {
    width: 400px;
    height: 90px;
    color: #ffffff;
    line-height: 50px;
    float: right;
}
.footer {
    width: 960px;;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
}
#about_us {
    color: #ffffff;
}
.footer_about {
    color: #b69fc5;
    text-align: left;
    float: left;
    width: 475px;
}
#footer_bottom_logo1 {
    width: 62px;
    height: 40px;
    background-image: url(../images/logo_footer_1.png);;
}
#footer_bottom_logo2 {
    width: 32px;
    height: 40px;
    background-image: url(../images/logo_footer_2.png);;
}
#footer_bottom_logo3 {
    width: 52px;
    height: 49px;
    background-image: url(../images/logo_footer_3.png);;
}
#footer_bottom_logo4 {
    width: 36px;
    height: 42px;
    background-image: url(../images/logo_footer_4.png);;
}
.bt_logo {
    float: left;
    margin-top: 20px;
    padding: 0 5px;
    background-repeat: no-repeat;
}
.footer_links {
    float: right;
    width: 470px;
}
.footer_links .links {
    width: 140px;
    padding-left: 25px;
}
.footer_links .links ul li {
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    display: block;
    text-align: left;
    background: none;
    padding: 0;
}
.copyright {
    text-align: left;
    position: absolute;
    bottom: 0;
}
.footer address {
    padding-left: 25px;
    margin-bottom: 5px;
}


/* ############## CONTENT ################### */
.main {
    width: 100%;
    max-width: 1920px;
    background: none;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
.main-container {
    background-image: none;
    margin: 0;
    padding: 0;
}
.block_bacground {
    display: block;
    width: 100%;
}
.content_medium_items {
    width: 1122px;
    margin: 0 auto;
}
.medium_item {
    display: inline-block;
    vertical-align: middle;
    margin: 40px 15px 50px 15px;
    text-align: center;
    font-size: 13px;
    float: left;
}
.medium_text p {
    max-width: 185px;
    min-height: 50px;
    margin: 0 auto 8px;
    font-size: 14px;
    line-height: 17px;
}
.medium_image {
    width: 100%;
    position: relative;
    margin: 0 0 20px;
}
.medium_text h2 {
    font: 16px/16px "ProximaNova-Bold",sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.button {
    transition-property: all;
    transition-duration: 150ms;
    background: #fff;
    border: solid 1px #46166b;
    color: #46166b;
    cursor: pointer;
    display: inline-block;
    padding: 5px 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
    color: #fff;
    background-color: #46166b;
}
